<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title></title>
</head>

<body>
<h1></h1>

    <form method='POST' action='' enctype='multipart/form-data'>
      {% csrf_token %}
      <table>
	{{ form }}
      </table>

      <input type='submit' valie='submit'>
    </form>

    {% for media in medias %}
      <li>{{ media.file }}</li>
    {% endfor %}

    <img src="../../file/2014/01/05/testpic.png" />
    <img src="https://lh4.googleusercontent.com/-TXjIjn0wOI4/UgEKm96PX2I/AAAAAAAAADw/43ITYYiteZ0/s512/sealion.png" />

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sun Jan  5 18:16:56 JST 2014 <!-- hhmts end -->
</body> </html>
